<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <!-- DEBUG BUILDS ONLY: emulator test harness (ANISUB-004). Not present in release builds. -->
    <application>
        <activity android:name=".DebugHarnessActivity" android:exported="true" android:launchMode="singleTop"
            tools:ignore="ExportedActivity" />
    </application>
</manifest>
